
{%extends 'layout.html' %}
{% block head %} 
<h1>Manager</h1> 
{%endblock%}
{% block body %} 
<div class = 'content'>
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>hellow worldwideweb and blockchain</td>
            <td></td>
            <td>
                <a href="">Delete</a>
                <br/>
                <a href="">Update</a>

            </td>
        </tr>
    </title>
</div>
{%endblock%}
